		{{ partial "head.html" . }}
		<body>
			{{ partial "nav.html" . }}
			<div class="content">
				<article {{ if isset .Params "featureimage" }}class="feature-image"{{ end }}>
					<header style="background-image: url('{{ .Site.BaseURL }}img/{{ with $.Params.featureimage }}{{ . }}{{ end }}')">
						<h1 class="title">{{ .Title }}</h1>
						    <p class="meta">
						    {{ .Date.Format "January 1, 2006" }}
						    {{ with .Site.Params.author }} - {{ . }}{{ end }}
						    </p>
					</header>
				<section class="post-content">
				{{ .Content }}


				{{ template "_internal/disqus.html" . }}
				</section>



			</article>
			{{ partial "footer.html" . }}
		</div>
	</body>
</html>