{{ with .Site.Params.social.homepage -}}
<li>
	<a href="{{ $.Site.BaseURL }}" title="{{ $.Site.Data.l10n.homepage }}">
		<i class="fa fa-fw fa-home"></i>
	</a>
</li>
{{- end }}

{{ if .Site.Params.social.rss -}}
<li>
	<a href="{{ $.Site.BaseURL }}index.xml" title="{{ $.Site.Data.l10n.rssSubscribe }}">
		<i class="fa fa-fw fa-rss"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.email -}}
<li>
	<a href="mailto:{{ $.Site.Params.social.email }}" title="{{ $.Site.Data.l10n.email }}">
		<i class="fa fa-fw fa-envelope"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.behance -}}
<li>
	<a href="https://www.behance.net/{{ $.Site.Params.social.behance }}" title="{{ $.Site.Data.l10n.behance }}">
		<i class="fa fa-fw fa-behance"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.bitbucket -}}
<li>
	<a href="https://bitbucket.org/{{ $.Site.Params.social.bitbucket }}" title="{{ $.Site.Data.l10n.bitbucket }}">
		<i class="fa fa-fw fa-bitbucket"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.dribbble -}}
<li>
	<a href="https://dribbble.com/{{ $.Site.Params.social.dribbble }}" title="{{ $.Site.Data.l10n.dribbble }}">
		<i class="fa fa-fw fa-dribbble"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.facebook -}}
<li>
	<a href="https://www.facebook.com/{{ $.Site.Params.social.facebook }}" title="{{ $.Site.Data.l10n.facebook }}">
		<i class="fa fa-fw fa-facebook"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.flickr -}}
<li>
	<a href="https://www.flickr.com/photos/{{ $.Site.Params.social.flickr }}" title="{{ $.Site.Data.l10n.flickr }}">
		<i class="fa fa-fw fa-flickr"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.github -}}
<li>
	<a href="https://github.com/{{ $.Site.Params.social.github }}" title="{{ $.Site.Data.l10n.github }}">
		<i class="fa fa-fw fa-github"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.googleplus -}}
<li>
	<a href="https://plus.google.com/{{ $.Site.Params.social.googleplus }}" title="{{ $.Site.Data.l10n.googleplus }}">
		<i class="fa fa-fw fa-google-plus"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.instagram -}}
<li>
	<a href="http://instagram.com/{{ $.Site.Params.social.instagram }}" title="{{ $.Site.Data.l10n.instagram }}">
		<i class="fa fa-fw fa-instagram"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.linkedin -}}
<li>
	<a href="https://www.linkedin.com/in/{{ $.Site.Params.social.linkedin }}" title="{{ $.Site.Data.l10n.linkedin }}">
		<i class="fa fa-fw fa-linkedin"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.pinterest -}}
<li>
	<a href="http://www.pinterest.com/{{ $.Site.Params.social.pinterest }}" title="{{ $.Site.Data.l10n.pinterest }}">
		<i class="fa fa-fw fa-pinterest"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.reddit -}}
<li>
	<a href="https://www.reddit.com/user/{{ $.Site.Params.social.reddit }}" title="{{ $.Site.Data.l10n.reddit }}">
		<i class="fa fa-fw fa-reddit"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.soundcloud -}}
<li>
	<a href="https://soundcloud.com/{{ $.Site.Params.social.soundcloud }}" title="{{ $.Site.Data.l10n.soundcloud }}">
		<i class="fa fa-fw fa-soundcloud"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.stackexchange -}}
<li>
	<a href="{{ $.Site.Params.social.stackexchange }}" title="{{ $.Site.Data.l10n.stackexchange }}">
		<i class="fa fa-fw fa-stack-exchange"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.steam -}}
<li>
	<a href="http://steamcommunity.com/id/{{ $.Site.Params.social.steam }}" title="{{ $.Site.Data.l10n.steam }}">
		<i class="fa fa-fw fa-steam"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.tumblr -}}
<li>
	<a href="http://{{ $.Site.Params.social.tumblr }}.tumblr.com/" title="{{ $.Site.Data.l10n.tumblr }}">
		<i class="fa fa-fw fa-tumblr"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.twitter -}}
<li>
	<a href="https://twitter.com/{{ $.Site.Params.social.twitter }}" title="{{ $.Site.Data.l10n.twitter }}">
		<i class="fa fa-fw fa-twitter"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.wordpress -}}
<li>
	<a href="https://{{ $.Site.Params.social.wordpress }}.wordpress.com/" title="{{ $.Site.Data.l10n.wordpress }}">
		<i class="fa fa-fw fa-wordpress"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.youtube -}}
<li>
	<a href="https://www.youtube.com/user/{{ $.Site.Params.social.youtube }}" title="{{ $.Site.Data.l10n.youtube }}">
		<i class="fa fa-fw fa-youtube"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.trello -}}
<li>
	<a href="https://trello.com/{{ $.Site.Params.social.trello }}" title="{{ $.Site.Data.l10n.trello }}">
		<i class="fa fa-fw fa-trello"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.gitlab -}}
<li>
	<a href="https://gitlab.com/{{ $.Site.Params.social.gitlab }}" title="{{ $.Site.Data.l10n.gitlab }}">
		<i class="fa fa-fw fa-gitlab"></i>
	</a>
</li>
{{- end }}
