<div class="posts">
	{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "post") }}
	{{ range $paginator.Pages }}
	<div class="post-teaser">
		<header>
			<h1>
			<a class="post-link" href="{{ .Permalink }}">
				{{ .Title }}
			</a>
			</h1>
			<p class="meta">
				{{ .Date.Format "January 1, 2006" }} &middot; {{ .ReadingTime }} minutes
			</p>
		</header>
		<div class="excerpt">
			{{ .Description }}
			<br><br>
			<a class="button" href="{{ .Permalink }}">
				{{ with .Site.Params.continueReading }}{{ . }}{{ else }}Continue Reading{{ end }}
			</a>
		</div>
	</div>
	{{ end }}
</div>