<div class="posts">
	{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "post") }}
	{{ range $paginator.Pages }}
	<div class="post-teaser">
		<header>
			<h1>
			<a class="post-link" href="{{ .Permalink }}">
				{{ .Title }}
			</a>
			</h1>
			<p class="meta">
				{{ .Date.Format "January 2, 2006" }} &middot; {{ .ReadingTime }} {{ .Site.Data.l10n.readingTime }}
			</p>
		</header>
		<div class="excerpt">
			{{ if isset .Params "description" | and (ne .Params.description "") }}
				{{ .Description | markdownify }}
			{{ else }}
				{{ .Summary }}
			{{ end  }}
			<br>
			<a class="button" href="{{ .Permalink }}">
				{{ .Site.Data.l10n.continueReading }}
			</a>
		</div>
	</div>
	{{ end }}
</div>