<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-US" }}">
	{{ partial "head.html" . }}
	<body>
		{{ partial "nav.html" . }}

		<div class="content">
			<div class="home">

				{{ if .Site.Params.headerText | or .Site.Params.headerImage }}
				<div class="call-out" style="background-image: url('{{ printf "img/%s" .Site.Params.headerImage | absURL }}')">
					{{ .Site.Params.headerText | markdownify }}
				</div>
				{{ end }}

				{{ partial "post-list.html" . }}
				{{ partial "pagination.html" . }}

				{{ partial "footer.html" . }}

			</div>
		</div>
	</body>
</html>
